html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

@font-face {
  font-family: 'diatype';
  src: url('ABCDiatype-Regular-Trial.otf');
}

input {
  width: 250px;
  height:30;
  padding: 10px;
  color: white;
  background: transparent;
  border: 1px solid;
  border-color: 'rgb(236,236,236)';
  font: 'diatype';
  text-align: left;
}
